* {
  box-sizing: border-box;
}
.app {
  position: relative;
}
.Todos {
  position: absolute;
  top: 0;
  background-color: red;
  transform: translateX(0%);
  transition: opacity 1s, transform 1s;
}
.Todos.hide {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s, opacity 1s;
}
